
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="text-align:center; margin-top:300px"> 
        <h3 class="text-success text-center">Your request is being processed. <a href="#" onclick="window.close();"> You may close this window.</a> </h3>
    </div>
</body>
</html>
