<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="CustomAppSettings">
      <section name="SmtpMail" type="InteractiveCorrespondenceEditor.Controllers.Common.MailConfig,InteractiveCorrespondenceEditor" />
      <section name="ErrorCodes" type="InteractiveCorrespondenceEditor.Controllers.Commons.ErrorCode,InteractiveCorrespondenceEditor" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="ICEEntities" connectionString="metadata=res://*/Models.ICE.csdl|res://*/Models.ICE.ssdl|res://*/Models.ICE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLD14WT1\SQL16DEV2;initial catalog=ICE;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="debug" value="false" />
    <add key="trace" value="false" />
    <add key="showdebugbuttons" value="true" />
    <add key="version" value="12.0" />
    <!-- 1 - true serach policy with check digit-->
    <!-- 0 - false serach policy without check digit -->
    <add key="policycheckdigit" value="1" />
    <!-- show and hide xResponse Button -->
    <add key="showxResponseButton" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <!--<httpRuntime requestValidationMode="2.0" maxUrlLength="5000" relaxedUrlToFileSystemMapping="true"/>-->
    <httpRuntime maxUrlLength="5000" maxRequestLength="100000" requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" >
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
</handlers>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="40960" maxQueryString="2097151" maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <CustomAppSettings>
    <SmtpMail host="smtp.njmgroup.com" from="PCCorrespondenceSupport@njm.com" subject="Underwriting Correspondence Editor (local)" default="sdikay@njm.com">
      <clients>
        <add name="PC" addressee="mbhatt@njm.com" subject="WCU PC ICE (local)" />
        <add name="BC" addressee="mbhatt@njm.com" subject="WCU BC ICE (local)" />
                
        <add name="PC-PA" addressee="mbhatt@njm.com" subject="PA PC ICE (local)" />
        
        <add name="PC-CA" addressee="mbhatt@njm.com" subject="CA PC ICE (local)" />
        <add name="PC-CGL" addressee="mbhatt@njm.com" subject="CGL PC ICE (local)" />
        
        <add name="BC-WCU" addressee="mbhatt@njm.com" subject="BC WCU ICE (Local)" />
        <add name="BC-PA" addressee="mbhatt@njm.com" subject="PL BC ICE (Local)" />
        
        <add name="ESB" addressee="mbhatt@njm.com" subject="Underwriting ESB/Datapower service error(local)" />
        <!-- HUD -->
        <add name="PC-HO" addressee="mbhatt@njm.com" subject="Home PC ICE (local)" />
        <add name="PC-DW" addressee="mbhatt@njm.com" subject="Dwelling PC ICE (local)" />
        <add name="PC-UMB" addressee="mbhatt@njm.com" subject="Umbrella PC ICE (local)" />

        <!-- CLAIMS -->
        <add name="GC" addressee="mbhatt@njm.com" subject="GC ICE (local)" />
        <add name="WCC" addressee="mbhatt@njm.com" subject="WCC ICE (local)" />
      </clients>
    </SmtpMail>
    <!-- ESB error codes and its description mapping DEV -->
    <ErrorCodes>
      <codes>
        <add name="ErrorCodePC-HO1" errorcode="HCE001" description="Schema validation error." />
        <add name="ErrorCodePC-HO2" errorcode="HCE002" description="Invalid Quote number received." />
        <add name="ErrorCodePC-HO3" errorcode="HCE003" description="Invalid Policy number received." />
        <add name="ErrorCodePC-HO4" errorcode="HCE004" description="AsOfDate is Empty." />
        <add name="ErrorCodePC-HO5" errorcode="HCE005" description="Unknown Error occurred in DataPower ESB while processing the request. " />
        <add name="ErrorCodePC-HO6" errorcode="HCE006" description="BackEnd Server Connection Error Occurred." />
        <add name="ErrorCodePC-DW1" errorcode="PDS001" description="BackEnd Server connection error" />
        <add name="ErrorCodePC-DW2" errorcode="PDS015" description="Schema validation error." />
        <add name="ErrorCodePC-DW3" errorcode="PDS005" description="Quote Number is null or empty or Invalid." />
        <add name="ErrorCodePC-DW4" errorcode="PDS006" description="Policy Number is null or empty or Invalid." />
        <add name="ErrorCodePC-DW5" errorcode="PDS008" description="AsOfDate is Empty." />
        <add name="ErrorCodePC-DW6" errorcode="PDS014" description="Unknown Error occurred in DataPower ESB while processing the request/response." />
      </codes>
    </ErrorCodes>
  </CustomAppSettings>
</configuration>