<div class="panel panel-primary" ng-controller="PcpaSepDivorceDropwdownwControlsController">
    <div class="panel-heading">Separation Divorce</div>
    <div class="panel-body">
       <div class="form-group">
           <div class="row">
               <!--Checkbox to enable control-->
               <div class="col-md-4">
                       <input ng-click="clearAllSelectedData()" ng-model="SelectedSepDivorce" type="checkbox" id="CtrlEnableCheckboxId" name="CtrlEnableCheckbox" value="" /> <label>Include Separation-Divorce info</label>
               </div>
               <div class="col-md-8">
                   <div  class="row">
                       <div  class="col-md-6"> </div>
                       <div class="col-md-6">
                           <!--Separation dropdown list-->
                           <select ng-model="selectedSeparation" ng-disabled="!SelectedSepDivorce" class="form-control" name="separationSelector" id="separationSelectorId" ng-options="item.optionValue for item in Separation">
                               <option value="">--Select--</option>
                           </select>
                       </div>
                   </div>
                   <div ng-show="SelectedSepDivorce && selectedSeparation" class="row" style="margin-top:15px">
                       <label class="col-md-6">* Spouse/Partner Name</label>
                       <div  class="col-md-6">
                           <!--Partner name dropdown list-->
                           <select ng-model="selectedPartner" ng-disabled="!SelectedSepDivorce" ng-required="true" class="form-control" name="partnerSelector" id="partnerSelectorId" ng-options="(item.Person.PersonName.NameSalutationCd + ' ' + item.Person.PersonName.FirstGivenNm + ' ' + item.Person.PersonName.SecondGivenNameInitial + ' ' + item.Person.PersonName.FamilyNm + ' ' + item.Person.PersonName.FamilyNameGenerationCd)  for item in PartnerInfo track by item._id">
                               <option value="">--Select--</option>
                           </select>
                       </div>
                    
                   </div>
                   <div ng-show="SelectedSepDivorce && selectedSeparation"  class="row" style="margin-top:15px">
                       <label class="col-md-12">* Vehicle</label>
                       <div class="col-md-12">
                           <!--Vehicle Data checkbox list-->
                           <div ng-repeat="item in Vehicle track by item.VehicleId">
                               <input ng-model="item.checked" 
                                      ng-change="selectVehicle(item)" 
                                      ng-required="(SelectedSepDivorce && selectedSeparation) && SelectedVehicleData.length === 0" 
                                      type="checkbox" 
                                      ng-disabled="!SelectedSepDivorce" 
                                      name="sepVehicleCheckboxLst" 
                                      id="sepVehicleCheckboxLstId{{item.VehicleId}}" 
                                      value="" /> 
                               <span ng-bind="item.ModelYearNr + ' ' + item.VehicleTradeNm + ' ' + item.ModelNm + ' ' + item.ManufacturerVehicleIdentificationNr"></span>
                           </div>
                       </div>
                      
                   </div>
                   <span class="alert-danger" ng-if="!Vehicle && Vehicle.length ===0">Information not provided by source</span>
               </div>
           </div>
       </div>
    </div>
</div> 