<div class="panel panel-primary" ng-controller="GcAddrOneandTwowGreetingNameController">
    <div class="panel-heading">Addressee(s)</div>
    <div class="panel-body">
        <div class="form-group">

            <!--Primary addressee dropdown list-->
            <div class="row">
                <div class="col-md-4"><label>* Primary Addressee:</label></div>
                <div class="col-md-4">
                    <select ng-required="true" ng-change="selectAddr()" ng-options="item.displayName for item in PrimaryAddress | orderBy:'displayName'" name="PrimaryAddressSelection" ng-model="selectedAddressee" class="form-control" id="PrimaryAddressSelectionId">
                        <option value="">--Select One--</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <span class="alert-danger" ng-show="PrimaryAddress.length == 0">Information not provided by source</span>
                </div>
            </div>

            <!--Primary addressee address dropdown list-->
            <div class="row" style="margin-top:5px">
                <div class="col-md-4"><label>* Primary Addressee Address:</label></div>
                <div class="col-md-4">
                    <select ng-required="true" ng-options="(item.StreetAddress1 + ' ' + item.StreetAddress2 + ' ' + item.StreetAddress3 + ' ' + item.City + ' ' + item.State + ' ' + item.ZipCode + ' ' + item.Category) for item in addressData" name="ExposureTypeSelection" ng-model="selectedAddress" class="form-control" id="ExposureTypeSelectionId">
                        <option value="">--Select One--</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <span class="alert-danger" ng-show="selectedAddressee && addressData.length == 0">Information not provided by source</span>
                </div>
            </div>

            <!--Secondary addressee dropdown list-->
            <div class="row" style="margin-top:5px">
                <div class="col-md-4"><label>Secondary Addressee:</label></div>
                <div class="col-md-4">
                    <select ng-options="item.displayName for item in SecondAddress | orderBy:'displayName'" name="SecondAddressSelection" ng-model="selectedSecondAddress" class="form-control" id="SecondAddressSelectionId">
                        <option value="">--Select One--</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <span class="alert-danger" ng-show="SecondAddress.length == 0">Information not provided by source</span>
                </div>
            </div>

            <!--Greeting input-->
            <div class="row" style="margin-top:5px">
                <div class="col-md-4"><label>Greeting:</label></div>
                <div class="col-md-4">
                    <select ng-options="item.lookupItemCode for item in greetingData" name="GreetingSelection" ng-model="greetingType" class="form-control" id="GreetingSelectionId">
                        <option value="">--Select One--</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" ng-model="greetingName" name="GreetingText" id="GreetingTextId" />
                </div>
            </div>

        </div>
    </div>
</div>
