<div class="panel panel-primary" ng-controller="WccInfoForAddtlTreatmentAndOtherController">
    <div class="panel-heading">Information for Additional Treatment</div>
    <div class="panel-body">
        <div class="form-group">

            <!--Treatment Information checkbox list-->
            <div class="row">
                <div class="col-md-8" ng-repeat="item in displayData track by $index" style="margin-top:5px">
                    <input style="width:15px;vertical-align:top" type="checkbox" name="{{item.checkboxName}}" id="{{item.checkboxName}}Id" ng-model="item.ctrlSelected" value="" />
                    <label style="width:calc(100% - 20px);margin-top:2px" ng-bind="item.labelText"></label>
                </div>
            </div>

            <!--Other Info text box-->
            <div class="row" style="margin-top:10px">
                <div class="col-md-4">
                    <label>Other Info for Additional Treatment:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="OtherTraetmentInfo" id="OtherTraetmentInfoId" ng-model="otherTreatmentInfo" value="" />
                </div>
            </div>

        </div>
    </div>
</div>
