/*
Run this script on:

SQLP20AGBUS7,57363.ICE    -  This database will be modified

to synchronize it with:

SQLD14WT1\SQL16DEV2.ICE

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 12.3.3.4490 from Red Gate Software Ltd at 10/14/2019 10:22:50 AM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[Category]')
ALTER TABLE [dbo].[Category] NOCHECK CONSTRAINT [FK_Category_LOB]

PRINT(N'Drop constraint FK_Document_Category from [dbo].[Document]')
ALTER TABLE [dbo].[Document] NOCHECK CONSTRAINT [FK_Document_Category]

PRINT(N'Update rows in [dbo].[Category]')
UPDATE [dbo].[Category] SET [UpdatedDateTime]='2019-06-17 15:58:00.000' WHERE [CategoryId] = 1
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_Commercial_Lines,Inspire_Developers,Inspire_Accounts_Receivable,Inspire_Blank_Letter_Template,Inspire_Remittance,Inspire_Credit_and_Collections,Inspire_CNSLT_AR,Inspire_CNSLT_BLT,Inspire_CNSLT_Remit,Inspire_CNSLT_CredandColl,Inspire_PL_HUD_Admin' WHERE [CategoryId] = 5
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_Commercial_Lines,Inspire_CNSL_Commercial_Lines,Inspire_CNSLT_CommLines,Inspire_Blank_Letter_Template' WHERE [CategoryId] = 6
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_Commercial_Lines,Inspire_CNSL_Commercial_Lines,Inspire_CNSLT_CommLines,Inspire_Blank_Letter_Template' WHERE [CategoryId] = 7
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_Commercial_Lines,Inspire_CNSL_Commercial_Lines,Inspire_CNSLT_CommLines,Inspire_Blank_Letter_Template' WHERE [CategoryId] = 8
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_Commercial_Lines,Inspire_CNSL_Commercial_Lines,Inspire_CNSLT_CommLines,Inspire_Blank_Letter_Template' WHERE [CategoryId] = 9
UPDATE [dbo].[Category] SET [CreatedDateTime]='2019-06-04 13:59:00.000', [UpdatedDateTime]='2019-06-04 13:59:00.000', [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_Commercial_Lines,Inspire_CNSL_Commercial_Lines,Inspire_CNSLT_CommLines' WHERE [CategoryId] = 39
PRINT(N'Operation applied to 7 rows out of 7')

PRINT(N'Add rows to [dbo].[Category]')
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (14, 'PL_POLICY_AUDIT_AUTO', 'Auto Policy Audit', 1, 5, '601680', '2019-04-16 10:57:00.000', '601680', '2019-04-16 10:57:00.000', 'Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_Auto_PolicyAudit')
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (15, 'PL_RENEWALS_UNDERWRITER_AUTO', 'Auto Renewal Underwriter', 1, 5, '601680', '2019-04-16 10:58:00.000', '601680', '2019-04-16 10:58:00.000', 'Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_Auto_RenewalUW')
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (16, 'PL_UNDERWRITING_AUTO', 'Auto Underwriter', 1, 5, '601680', '2019-04-16 11:03:00.000', '601680', '2019-04-16 11:03:00.000', 'Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_Auto_UW')
SET IDENTITY_INSERT [dbo].[Category] OFF
PRINT(N'Operation applied to 48 rows out of 48')

PRINT(N'Add constraints to [dbo].[Category]')
ALTER TABLE [dbo].[Category] WITH CHECK CHECK CONSTRAINT [FK_Category_LOB]
ALTER TABLE [dbo].[Document] WITH CHECK CHECK CONSTRAINT [FK_Document_Category]
COMMIT TRANSACTION
GO
