/*
Run this script on:

SQLP20AGBUS7,57363.ICE    -  This database will be modified

to synchronize it with:

SQLD14WT1\SQL16DEV2.ICE

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 12.3.3.4490 from Red Gate Software Ltd at 10/14/2019 10:24:56 AM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION

PRINT(N'Drop constraint FK_DocumentControl_Controls from [dbo].[DocumentControl]')
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Controls]

PRINT(N'Update rows in [dbo].[Control]')
UPDATE [dbo].[Control] SET [CreatedDateTime]='2019-05-21 15:50:00.000' WHERE [ControlId] = 6
UPDATE [dbo].[Control] SET [CreatedBy]='MB1412', [CreatedDateTime]='2019-05-06 11:09:00.000', [UpdatedBy]='MB1412', [UpdatedDateTime]='2019-05-06 11:09:00.000' WHERE [ControlId] = 18
UPDATE [dbo].[Control] SET [CreatedBy]='MB1412', [CreatedDateTime]='2019-05-06 11:09:00.000', [UpdatedBy]='MB1412', [UpdatedDateTime]='2019-05-06 11:09:00.000' WHERE [ControlId] = 20
UPDATE [dbo].[Control] SET [CreatedDateTime]='2019-06-06 09:47:00.000', [UpdatedDateTime]='2019-06-06 09:47:00.000' WHERE [ControlId] = 73
PRINT(N'Operation applied to 4 rows out of 4')

PRINT(N'Add rows to [dbo].[Control]')
SET IDENTITY_INSERT [dbo].[Control] ON
INSERT INTO [dbo].[Control] ([ControlId], [ControlDescription], [ControlName], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (24, '<pcpa-addressee-one-and-two></pcpa-addressee-one-and-two>', 'PcpaAddresseeOneAndTwo', '601680', '2019-05-17 16:00:00.000', '601680', '2019-05-17 16:00:00.000')
INSERT INTO [dbo].[Control] ([ControlId], [ControlDescription], [ControlName], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (25, '<us-mail-checkbox></us-mail-checkbox>', 'UsMailCheckbox', '601680', '2019-05-17 16:07:00.000', '601680', '2019-05-17 16:07:00.000')
INSERT INTO [dbo].[Control] ([ControlId], [ControlDescription], [ControlName], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (26, '<printer-dropdownw-checkbox></printer-dropdownw-checkbox>', 'PrinterDropdownwCheckbox', '601680', '2019-05-17 16:11:00.000', '601680', '2019-05-17 16:11:00.000')
SET IDENTITY_INSERT [dbo].[Control] OFF
PRINT(N'Operation applied to 165 rows out of 165')
ALTER TABLE [dbo].[DocumentControl] WITH CHECK CHECK CONSTRAINT [FK_DocumentControl_Controls]
COMMIT TRANSACTION
GO
