/*
Run this script on:

SQLP20AGBUS7,57363.ICE    -  This database will be modified

to synchronize it with:

SQLD14WT1\SQL16DEV2.ICE

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 12.3.3.4490 from Red Gate Software Ltd at 10/14/2019 10:25:45 AM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[Document]')
ALTER TABLE [dbo].[Document] NOCHECK CONSTRAINT [FK_Document_Category]

PRINT(N'Drop constraint FK_DocumentControl_Document from [dbo].[DocumentControl]')
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Document]

PRINT(N'Update rows in [dbo].[Document]')
UPDATE [dbo].[Document] SET [DocumentName]='Not Honored Pymt on Pending Cancel', [DocumentFriendlyName]='Not Honored Pymt on Pending CN', [JldFilePath]='companyRoot:S:Production://Templates/BillingCenterWCU/Not Honored Pymt on Pending Cancel.jld', [UpdatedBy]='MB1412', [UpdatedDateTime]='2019-05-06 15:30:00.000' WHERE [DocumentId] = 45
UPDATE [dbo].[Document] SET [JldFilePath]='companyRoot:S:Production://Templates/BillingCenterWCU/Partial Pymt Pending CN Stands.jld' WHERE [DocumentId] = 57
UPDATE [dbo].[Document] SET [CreatedDateTime]='2019-06-04 14:07:00.000', [UpdatedDateTime]='2019-06-04 14:07:00.000' WHERE [DocumentId] = 208
PRINT(N'Operation applied to 3 rows out of 3')

PRINT(N'Add rows to [dbo].[Document]')
SET IDENTITY_INSERT [dbo].[Document] ON
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (58, 18, 'A-614x', 'UIM Rejection Form', 1, NULL, 'companyRoot:S:Production://Templates/PolicyCenterAuto/A-614x.jld', 'POLDOC  Correspondence', '601680', '2019-04-16 14:34:00.000', '601680', '2019-04-16 14:34:00.000')
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (59, 18, 'A-619x', 'UM Rejection Form', 1, NULL, 'companyRoot:S:Production://Templates/PolicyCenterAuto/A-619x.jld', 'POLDOC  Correspondence', '601680', '2019-04-16 14:35:00.000', '601680', '2019-04-16 14:35:00.000')
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (60, 17, 'Added PIP Listed on Policy', 'Added PIP Listed on Policy', 1, NULL, 'companyRoot:S:Production://Templates/PolicyCenterAuto/Added PIP Listed on Policy.jld', 'POLDOC  Correspondence', '601680', '2019-04-16 14:45:00.000', '601680', '2019-04-16 14:45:00.000')
SET IDENTITY_INSERT [dbo].[Document] OFF
PRINT(N'Operation applied to 959 rows out of 959')

PRINT(N'Add constraints to [dbo].[Document]')
ALTER TABLE [dbo].[Document] WITH CHECK CHECK CONSTRAINT [FK_Document_Category]
ALTER TABLE [dbo].[DocumentControl] WITH CHECK CHECK CONSTRAINT [FK_DocumentControl_Document]
COMMIT TRANSACTION
GO
