<div class="panel panel-primary" ng-controller="PcpaVehicleCheckboxLstNotReqController">
    <div class="panel-heading">Insured's Vehicle(s)</div>
    <div class="panel-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12 row">
                    <div ng-repeat="item in Vehicle track by item.VehicleId" class="col-md-12" ng-required="false">
                        <input ng-model="item.checked" ng-click="selectVehicle(item)" type="checkbox" ng-required="false" name="VehicleCheckboxLst" id="VehicleLstId{{item.VehicleId}}" value="" />
                        <span ng-bind="item.ModelYearNr + ' ' + item.VehicleTradeNm + ' ' + item.ModelNm + ' ' + item.ManufacturerVehicleIdentificationNr"></span>
                    </div>
                    <span class="alert-danger" ng-if="Vehicle.length === 0">Information not provided by source</span>
                </div>
            </div>
        </div>
    </div>
</div> 