/*
Run this script on:

SQLP20AGBUS7,57363.ICE    -  This database will be modified

to synchronize it with:

SQLD14WT1\SQL16DEV2.ICE

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 12.3.3.4490 from Red Gate Software Ltd at 10/29/2019 10:42:24 AM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[DocumentControl]')
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Controls]
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Document]

PRINT(N'Delete rows from [dbo].[DocumentControl]')
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 324
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1361
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1373
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1383
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1392
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1399
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1413
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1423
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1437
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1440
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1453
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1458
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1476
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1482
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1491
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1502
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1513
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1521
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1529
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1539
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1552
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1562
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1571
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1579
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1592
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1601
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1617
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1619
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1631
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1642
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1653
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1664
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1672
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1690
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1702
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1711
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1721
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1730
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1740
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1750
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1762
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1771
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1781
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1793
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1799
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1810
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1818
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1830
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1839
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1848
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1875
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1897
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1915
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1921
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1931
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1941
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1954
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1961
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1973
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1989
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1996
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2002
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2014
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2026
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2036
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2047
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2055
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2066
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2076
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2082
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2093
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2104
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2109
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2115
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2128
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2138
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2150
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2158
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2171
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2181
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2192
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2202
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2204
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2214
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2224
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2234
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2247
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2253
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2266
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2274
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2287
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2297
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2306
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2316
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2324
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2338
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2345
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2357
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2365
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2375
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2386
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2396
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2406
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2418
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2427
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2440
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2455
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2457
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2469
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2478
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2487
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3957
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3958
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3961
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3965
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3966
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3969
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3979
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3980
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3984
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 4940
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 4944
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 4945
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 5145
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 5148
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 5150
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 5249
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 5274
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 5276
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 5680
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 5736
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 7156
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 7158
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 7163
PRINT(N'Operation applied to 134 rows out of 134')

PRINT(N'Update rows in [dbo].[DocumentControl]')
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=9 WHERE [DocumentControlId] = 345
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=9 WHERE [DocumentControlId] = 356
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=10 WHERE [DocumentControlId] = 360
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=11 WHERE [DocumentControlId] = 361
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=8 WHERE [DocumentControlId] = 363
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=11 WHERE [DocumentControlId] = 895
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=13 WHERE [DocumentControlId] = 896
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=10 WHERE [DocumentControlId] = 897
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=12 WHERE [DocumentControlId] = 898
PRINT(N'Operation applied to 9 rows out of 9')

PRINT(N'Add rows to [dbo].[DocumentControl]')
SET IDENTITY_INSERT [dbo].[DocumentControl] ON
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (7691, 1027, 117, 4, 'JJ3999', '2019-10-14 13:50:00.000', 'JJ3999', '2019-10-14 13:50:00.000')
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (7692, 1027, 26, 2, 'JJ3999', '2019-10-14 13:50:00.000', 'JJ3999', '2019-10-14 13:50:00.000')
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (7693, 1027, 180, 3, 'JJ3999', '2019-10-14 13:50:00.000', 'JJ3999', '2019-10-14 13:50:00.000')
SET IDENTITY_INSERT [dbo].[DocumentControl] OFF
PRINT(N'Operation applied to 879 rows out of 879')

PRINT(N'Add constraints to [dbo].[DocumentControl]')
ALTER TABLE [dbo].[DocumentControl] WITH CHECK CHECK CONSTRAINT [FK_DocumentControl_Controls]
ALTER TABLE [dbo].[DocumentControl] WITH CHECK CHECK CONSTRAINT [FK_DocumentControl_Document]
COMMIT TRANSACTION
GO
