<div class="panel panel-primary" ng-controller="GcBatchCheckboxController">
    <div class="panel-heading">Print Services</div>
    <div class="panel-body">
        <div class="form-group">
            <div class="row">
                <!--Batch checkbox-->
                <div class="col-md-6">
                    <input type="checkbox" ng-click="setBatchService()" name="GCBatchCheckbox" id="BatchServiceId" ng-model="enableBatchService" value="" />
                    <label>Print Services Batch</label>
                </div>
            </div>
        </div>
    </div>
 </div>
