<div class="panel panel-primary" ng-controller="WccOverpaymentSectionController">
    <div class="panel-heading">Overpayment Information</div>
    <div class="panel-body">
        <div class="form-group">

            <!--Overpayment Reason(s) checkbox list-->
            <div class="row">
                <div class="col-md-4">
                    <label>Overpayment Reason(s):</label>
                </div>
                <div class="col-md-8">
                    <div class="row" ng-repeat="item in displayData" style="margin-top:5px">
                        <div class="col-md-12">
                            <input style="width:15px;vertical-align:top" type="checkbox" name="{{item.checkboxName}}" id="{{item.checkboxName}}Id" ng-model="item.ctrlSelected" value="" />
                            <label style="width:calc(100% - 20px)" ng-bind="item.labelText"></label>
                        </div>
                    </div>
                </div>
            </div>

            <!--Other Overpayment Reason text box-->
            <div class="row" style="margin-top:5px">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <input ng-click="enabledCtrl()" style="width:15px;vertical-align:top" type="checkbox" name="CtrlOtherControl" id="CtrlOtherControlId" ng-model="selectedOther" value="" />
                    <label style="width:calc(100% - 20px)">Other Overpayment Reason:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" ng-class="!selectedOther? 'disabled-class':''" ng-disabled="!selectedOther" ng-required="selectedOther" class="form-control" name="OtherReasonInfo" id="OtherReasonInfoId" ng-model="otherReasonInfo" value="" />
                </div>
            </div>

            <!--Overpayment Type drop down list-->
            <div class="row" style="margin-top:15px">
                <div class="col-md-4">
                    <label>Overpayment Type:</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control" ng-options="type for type in ReasonType" ng-change="reasonTypeSelect()" ng-required="true" ng-model="selectedType" name="OverpaymentType" id="OverpaymentTypeId">
                        <option value="" disabled selected>-Select-</option>
                    </select>
                </div>
                <div class="col-md-4"></div>
            </div>

            <!--Overpayment text boxes-->
            <div class="row" ng-show="selectedType" ng-repeat="slector in TotalCount track by $index">
                <div class="col-md-4"></div>
                <div class="col-md-8" style="margin-top:5px;padding-top:5px;padding-bottom: 5px;">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Check Number:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-model="checkNumber[$index]" name="CheckNum{{$index}}" id="CheckNum{{$index}}Id" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-md-6">
                            <label>Check Date:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" datePicker date-format="mm/dd/yyyy" ng-model="checkDate[$index]" class="form-control" name="ChecDate{{$index}}" id="CheckDate{{$index}}Id" placeholder="MM/DD/YYYY" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-md-6">
                            <label>Check Amount:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-model="checkAmount[$index]" name="CheckAmount{{$index}}" id="CheckAmount{{$index}}Id" placeholder="####.##" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-md-6">
                            <label>Date of Service:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" datePicker date-format="mm/dd/yyyy" ng-model="serviceDate[$index]" class="form-control" name="ServiceDate{{$index}}" id="ServiceDate{{$index}}Id" placeholder="MM/DD/YYYY" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-md-6">
                            <label>Check Overpayment:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-model="checkOverpayment[$index]" ng-change="totalAmountCalc()" name="CheckOverpayment{{$index}}" id="CheckOverpayment{{$index}}Id" placeholder="####.##" />
                        </div>
                    </div>
                    <div style="border-bottom: 2px solid lightgray; padding-top:10px" ng-show="selectedType && selectedType === 'Multiple Overpayments'"></div>
                </div>
            </div>

            <!--Repeat button-->
            <div class="row" ng-if="selectedType && selectedType === 'Multiple Overpayments'" style="margin-top:5px">
                <div class="col-md-4"></div>
                <div class="col-md-8 text-center">
                    <input type="button" class="btn-primary" value="Add" ng-hide="TotalCount.length === MaxCtls" ng-click="addCtlRow()">
                    <input type="button" class="btn-primary" value="Remove" ng-hide="TotalCount.length === 1" ng-click="removeCtlRow()">
                </div>
            </div>

            <!--Total amount-->
            <div class="row" style="margin-top:15px" ng-show="selectedType && selectedType === 'Multiple Overpayments'">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label>Total Amount:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" ng-disabled="true" ng-model="totalAmount" name="TotalAmount" id="TotalAmountId" />
                </div>
            </div>

        </div>
    </div>
</div>
