<div class="panel panel-primary" ng-controller="PcpaMvrReferenceNumRepeaterController" ng-show="showControl">
    <div class="panel-heading">MVR Reference Number Information</div>
    <div class="panel-body">
        <div class="form-group">
            <div class="row" style="padding-top:10px;padding-bottom: 10px; border-bottom: 2px solid lightgray"  ng-repeat="slector  in TotalCount track by $index">
                <div class="col-md-4">
                    <!--Checkbox to enable control-->
                    <input ng-click="clearAllData($index)" ng-model="SelectedMVR[$index]" type="checkbox" id="CtrlEnableCheckboxId" name="CtrlEnableCheckbox" value="" />
                    <label>Include MVR Reference Number</label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <!-- Driver Name dropdown list -->
                        <label class="col-md-6" style="margin-top:5px">Driver Name:</label>
                        <div class="col-md-6">
                            <select ng-disabled="!SelectedMVR[$index]" ng-options="(item.Person.PersonName.FirstGivenNm + ' ' + item.Person.PersonName.SecendGivenNmInitial + ' ' + item.Person.PersonName.FamilyNm + ' ' + item.Person.PersonName.FamilyNameGenerationCd)  for item in driverInfo track by item._id" name="DriverSelection" ng-model="selectedValue[$index]" class="form-control" id="DriverInfoId">
                                <option value="">--Select--</option>
                            </select>
                        </div>

                        <!-- Driver Name open textbox -->
                        <label class="col-md-6" style="margin-top:5px" ng-disabled="!SelectedMVR[$index]"></label>
                        <div class="col-md-6" style="margin-top:5px">
                            <input ng-disabled="!SelectedMVR[$index] || selectedValue[$index]" ng-model="freeTextGroup[$index]" type="text" class="form-control" name="DriverText" value="" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <!--MVR Reference Number-->
                        <label class="col-md-6">MVR Reference Number:</label>
                        <div class="col-md-6">
                            <input ng-disabled="!SelectedMVR[$index] || !showControl" ng-model="mvrReferenceNum[$index]" type="text" class="form-control" name="DriverText" value="" />
                        </div>
                    </div>
                </div>
              </div>
            <div class="col-md-12 text-center" style="margin-top:10px;">
                <input type="button" class="btn-primary" value="Add" ng-hide="TotalCount.length === MaxCtls"  ng-click="addCtlRow()">
                <input type="button" class="btn-primary" value="Remove" ng-hide="TotalCount.length === 1" ng-click="removeCtlRow()">
            </div>
           </div>
      </div>
</div> 