/*
Run this script on:

SQLU14WT1\SQL16UAT2.ICE    -  This database will be modified

to synchronize it with:

SQLQ14WT1\SQL16QA2.ICE

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 12.3.3.4490 from Red Gate Software Ltd at 12/27/2019 8:18:38 AM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[DocumentControl]')
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Controls]
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Document]

PRINT(N'Drop constraints from [dbo].[Document]')
ALTER TABLE [dbo].[Document] NOCHECK CONSTRAINT [FK_Document_Category]

PRINT(N'Drop constraints from [dbo].[Category]')
ALTER TABLE [dbo].[Category] NOCHECK CONSTRAINT [FK_Category_LOB]

PRINT(N'Delete rows from [dbo].[DocumentControl]')
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3211
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3218
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3219
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3448
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3477
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3482
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6395
PRINT(N'Operation applied to 7 rows out of 7')

PRINT(N'Update rows in [dbo].[DocumentControl]')
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=8 WHERE [DocumentControlId] = 4297
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=9 WHERE [DocumentControlId] = 4298
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=6 WHERE [DocumentControlId] = 4300
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=7 WHERE [DocumentControlId] = 5394
PRINT(N'Operation applied to 4 rows out of 4')

PRINT(N'Update rows in [dbo].[Document]')
UPDATE [dbo].[Document] SET [JldFilePath]='companyRoot:S:Production://Templates/GeneralClaims/DC Resp w Rec Ltr.jld', [UpdatedBy]='601498', [UpdatedDateTime]='2019-12-12 15:43:00.000' WHERE [DocumentId] = 727
UPDATE [dbo].[Document] SET [BaseState]=NULL WHERE [DocumentId] = 901
UPDATE [dbo].[Document] SET [BaseState]=NULL WHERE [DocumentId] = 902
UPDATE [dbo].[Document] SET [BaseState]=NULL WHERE [DocumentId] = 910
UPDATE [dbo].[Document] SET [BaseState]=NULL WHERE [DocumentId] = 911
UPDATE [dbo].[Document] SET [BaseState]=NULL WHERE [DocumentId] = 913
UPDATE [dbo].[Document] SET [BaseState]=NULL WHERE [DocumentId] = 914
UPDATE [dbo].[Document] SET [BaseState]=NULL WHERE [DocumentId] = 1027
PRINT(N'Operation applied to 8 rows out of 8')

PRINT(N'Update row in [dbo].[Category]')
UPDATE [dbo].[Category] SET [UpdatedDateTime]='2019-12-23 13:25:00.000' WHERE [CategoryId] = 1

PRINT(N'Add rows to [dbo].[Category]')
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (72, 'GC_APPRAISAL_SCANSHEET', 'zScan Sheet Appraisal', 1, 9, '601680', '2019-12-13 15:24:00.000', '601680', '2019-12-13 15:24:00.000', 'Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_GC,Inspire_General_Claims')
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (73, 'GC_ARBITRATION_SCANSHEET', 'zScan Sheet Arbitration', 1, 9, '601680', '2019-12-16 11:48:00.000', '601680', '2019-12-16 11:48:00.000', 'Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_GC,Inspire_General_Claims')
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (74, 'GC_COMMUNICATIONS_SCANSHEET', 'zScan Sheet Communications', 1, 9, '601680', '2019-12-16 11:49:00.000', '601680', '2019-12-16 11:49:00.000', 'Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_GC,Inspire_General_Claims')
SET IDENTITY_INSERT [dbo].[Category] OFF
PRINT(N'Operation applied to 15 rows out of 15')

PRINT(N'Add rows to [dbo].[Control]')
SET IDENTITY_INSERT [dbo].[Control] ON
INSERT INTO [dbo].[Control] ([ControlId], [ControlDescription], [ControlName], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (227, '<gc-scan-sheet-printer></gc-scan-sheet-printer>', 'GcScanSheetPrinter', '601680', '2019-12-16 10:24:00.000', '601680', '2019-12-16 10:24:00.000')
INSERT INTO [dbo].[Control] ([ControlId], [ControlDescription], [ControlName], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (228, '<gc-scan-sheet-checkbox></gc-scan-sheet-checkbox>', 'GcScanSheetCheckbox', '601680', '2019-12-17 09:42:00.000', '601680', '2019-12-17 09:42:00.000')
INSERT INTO [dbo].[Control] ([ControlId], [ControlDescription], [ControlName], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (229, '<gc-scan-sheet-date-picker></gc-scan-sheet-date-picker>', 'GcScanSheetDatePicker', '601680', '2019-12-17 08:45:00.000', '601680', '2019-12-17 08:45:00.000')
SET IDENTITY_INSERT [dbo].[Control] OFF
PRINT(N'Operation applied to 6 rows out of 6')

PRINT(N'Add rows to [dbo].[Document]')
SET IDENTITY_INSERT [dbo].[Document] ON
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (1079, 72, 'Appraisal Scan Sheet', 'Appraisal Report', 1, NULL, 'companyRoot:S:Production://Templates/GeneralClaims/Appraisal Scan Sheet.jld', 'GAPPR  Appraisal Report', '601680', '2019-12-16 10:14:00.000', '601680', '2019-12-16 10:14:00.000')
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (1080, 72, 'Appraisal Scan Sheet', 'Direction to Pay', 1, NULL, 'companyRoot:S:Production://Templates/GeneralClaims/Appraisal Scan Sheet.jld', 'GAPPR  Direction to Pay', '601680', '2019-12-16 10:54:00.000', '601680', '2019-12-16 10:54:00.000')
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (1081, 72, 'Appraisal Scan Sheet', 'Estimate', 1, NULL, 'companyRoot:S:Production://Templates/GeneralClaims/Appraisal Scan Sheet.jld', 'GAPPR  Estimate', '601680', '2019-12-16 10:56:00.000', '601680', '2019-12-16 10:56:00.000')
SET IDENTITY_INSERT [dbo].[Document] OFF
PRINT(N'Operation applied to 122 rows out of 122')

PRINT(N'Add rows to [dbo].[DocumentControl]')
SET IDENTITY_INSERT [dbo].[DocumentControl] ON
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (8953, 1079, 227, 1, '601680', '2019-12-16 10:24:00.000', '601680', '2019-12-16 10:24:00.000')
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (8957, 579, 145, 5, '601498', '2019-12-17 10:37:00.000', '601498', '2019-12-17 10:37:00.000')
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (8959, 1080, 227, 1, '601680', '2019-12-18 09:26:00.000', '601680', '2019-12-18 09:26:00.000')
SET IDENTITY_INSERT [dbo].[DocumentControl] OFF
PRINT(N'Operation applied to 485 rows out of 485')

PRINT(N'Add constraints to [dbo].[DocumentControl]')

PRINT(N'Add constraints to [dbo].[Document]')
ALTER TABLE [dbo].[Document] WITH CHECK CHECK CONSTRAINT [FK_Document_Category]

PRINT(N'Add constraints to [dbo].[Category]')
ALTER TABLE [dbo].[Category] WITH CHECK CHECK CONSTRAINT [FK_Category_LOB]
COMMIT TRANSACTION
GO
