<div class="panel panel-primary" ng-controller="GcAppForBenefitsDropdownController">
    <div class="panel-heading">Applicant for Benefits Information</div>
    <div class="panel-body">
        <div class="form-group">
            <!--Applicant for Benefits dropdown list-->
            <div class="row">
                <div class="col-md-4"><label>Applicant for Benefits:</label></div>
                <div class="col-md-4">
                    <select class="form-control" ng-change="selectedName()" ng-model="nameSelector" ng-options="item.displayName for item in ClaimantData">
                        <option value="">--Select One--</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <span class="alert-danger" ng-show="nameSelector.length == 0">Information not provided by source</span>
                </div>
            </div>

            <!--Applicant for Benefits Address dropdown list-->
            <div class="row" style="margin-top:5px">
                <div class="col-md-4"><label>Applicant for Benefits Address:</label></div>
                <div class="col-md-4">
                    <select ng-model="addressSelector" class="form-control" ng-options="(address.StreetAddress1 + ' ' + address.StreetAddress2 + ' ' + address.StreetAddress3 + ', ' + address.City + ' ' + address.State + ' ' + address.ZipCode + '(' + address.Category + ')') for address in addressData">
                        <option value="">--Select One--</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <span class="alert-danger" ng-show="nameSelector && addressData.length == 0">Information not provided by source</span>
                </div>
            </div>

        </div>
    </div>
</div>
