<div class="panel panel-primary" ng-controller="PcpaClaimViolationRepeaterController" ng-show="showControl">
    <div class="panel-heading">Claim/Violation/Restoration Information</div>
    <div class="panel-body">
        <div class="form-group" ng-repeat="selector in TotalCount track by $index">
            <div class="row" style="padding-bottom: 10px; border-bottom: 2px solid lightgray">

                <div class="col-md-4">
                    <!-- Checkbox to enable control -->
                    <input type="checkbox" ng-model="CtrlEnabledCheckbox[$index]" ng-change="ClearData($index)" ng-init="CtrlEnabledCheckbox[$index]=false" name="CtrlEnabledCheckbox{{$index}}" id="CtrlEnabledCheckbox{{$index}}Id" />
                    <label>Include Claim/Violation/Restoration</label>
                </div>

                <div class="col-md-8">
                    <div class="row">

                        <!-- Activity Description textbox -->
                        <label class="col-md-6" ng-disabled="!CtrlEnabledCheckbox[$index]" ng-class="(CtrlEnabledCheckbox[$index])?'':'disabled-class'" style="margin-top:5px">Activity Description:</label>
                        <div class="col-md-6">
                            <input ng-disabled="!CtrlEnabledCheckbox[$index]" ng-model="ActivityDescText[$index]" type="text" class="form-control" name="ActivityDesc{{$index}}" id="ActivityDesc{{$index}}Id" value="" />
                        </div>

                        <!-- Adverse Data Source dropdown list -->
                        <label class="col-md-6" ng-disabled="!CtrlEnabledCheckbox[$index]" ng-class="(CtrlEnabledCheckbox[$index])?'':'disabled-class'" style="margin-top:5px" ng-show="{{showAdverseData}}">Adverse Data Source:</label>
                        <div class="col-md-6" ng-show="{{showAdverseData}}" style="margin-top:5px">
                            <select ng-disabled="!CtrlEnabledCheckbox[$index]" ng-model="SelectedADSValue[$index]" class="form-control" name="AdverseDataSource{{$index}}" id="AdverseDataSource{{$index}}Id">
                                <option value="">--Select--</option>
                                <option value="MVR">MVR</option>
                                <option value="CLUE">CLUE</option>
                                <option value="NJM">NJM</option>
                                <option value="CUST">CUST</option>
                            </select>
                        </div>

                        <!-- Driver Name dropdown list -->
                        <label class="col-md-6" style="margin-top:5px" ng-disabled="!CtrlEnabledCheckbox[$index]" ng-class="(CtrlEnabledCheckbox[$index])?'':'disabled-class'" >Driver Name:</label>
                        <div class="col-md-6" style="margin-top:5px">
                            <select ng-disabled="!CtrlEnabledCheckbox[$index]" ng-options="(item.Person.PersonName.FirstGivenNm + ' ' + item.Person.PersonName.SecendGivenNmInitial + ' ' + item.Person.PersonName.FamilyNm + ' ' + item.Person.PersonName.FamilyNameGenerationCd)  for item in driverInfo track by item._id" ng-model="SelectedDriver[$index]" class="form-control" name="DriverPulldown{{$index}}" id="DriverPulldown{{$index}}Id">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                        <!-- Driver Name open textbox -->
                        <label class="col-md-6" style="margin-top:5px" ng-disabled="!CtrlEnabledCheckbox[$index]" ng-class="(CtrlEnabledCheckbox[$index])?'':'disabled-class'" ></label>
                        <div class="col-md-6" style="margin-top:5px">
                            <input ng-disabled="!CtrlEnabledCheckbox[$index] || SelectedDriver[$index]" ng-model="DriverText[$index]" type="text" class="form-control" name="DriverName{{$index}}" id="DriverName{{$index}}Id" />
                        </div>

                        <!-- Event Date datepicker -->
                        <label class="col-md-6" style="margin-top:5px" ng-disabled="!CtrlEnabledCheckbox[$index]" ng-class="(CtrlEnabledCheckbox[$index])?'':'disabled-class'" >Event Date:</label>
                        <div class="col-md-6" style="margin-top:5px">
                            <input class="form-control" type="text" ng-model="SelectedEventDate[$index]" data-date-format="yyyy-mm-dd" ng-disabled="!CtrlEnabledCheckbox[$index]" name="EventDate{{$index}}" id="EventDate{{$index}}Id" datepicker />
                        </div>

                        <!-- Posting/Payout Date datepicker -->
                        <label class="col-md-6" style="margin-top:5px" ng-disabled="!CtrlEnabledCheckbox[$index]" ng-class="(CtrlEnabledCheckbox[$index])?'':'disabled-class'" >Posting/Payout Date:</label>
                        <div class="col-md-6" style="margin-top:5px">
                            <input class="form-control" type="text" ng-model="SelectedPostDate[$index]" data-date-format="yyyy-mm-dd" ng-disabled="!CtrlEnabledCheckbox[$index]" name="PostDate{{$index}}" id="PostDate{{$index}}Id" datepicker />
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12 text-center" style="margin-top:10px;">
            <input type="button" class="btn-primary" value="Add" ng-hide="TotalCount.length=={{MaxCtls}}" ng-click="addCtlRow()">
            <input type="button" class="btn-primary" value="Remove" ng-hide="TotalCount.length==1" ng-click="removeCtlRow()">
        </div>
    </div>
</div> 