/*
Run this script on:

SQLU14WT1\SQL16UAT2.ICE    -  This database will be modified

to synchronize it with:

SQLQ14WT1\SQL16QA2.ICE

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 12.3.3.4490 from Red Gate Software Ltd at 12/6/2019 11:01:45 AM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[DocumentControl]')
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Controls]
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Document]

PRINT(N'Delete rows from [dbo].[DocumentControl]')
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 408
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2798
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2799
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2801
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2803
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2805
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 5112
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8358
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8731
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8732
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8733
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8734
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8735
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8736
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8737
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8738
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8739
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8740
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8741
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8742
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8743
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8744
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8745
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8746
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8747
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8748
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8749
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8750
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8751
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8752
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8753
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8754
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8755
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8756
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8757
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8758
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8759
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8760
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8761
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8762
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8763
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8764
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8765
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8766
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8767
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8768
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8769
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8770
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8771
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8772
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8773
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8774
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8775
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8776
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8777
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8778
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8779
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8780
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8781
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8782
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8783
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8784
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8785
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8786
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8787
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8788
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8789
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8790
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8791
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8792
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8793
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8794
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8795
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8796
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8797
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8798
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8799
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8800
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8801
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8802
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8803
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8804
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8805
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8806
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8807
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8808
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8809
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8810
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8811
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8812
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8813
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8814
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8815
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8816
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8817
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8818
PRINT(N'Operation applied to 96 rows out of 96')

PRINT(N'Add rows to [dbo].[Control]')
SET IDENTITY_INSERT [dbo].[Control] ON
INSERT INTO [dbo].[Control] ([ControlId], [ControlDescription], [ControlName], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (223, '<pl-scan-sheet-dropdown></pl-scan-sheet-dropdown>', 'PlScanSheetDropdown', '601680', '2019-12-04 15:53:00.000', '601680', '2019-12-04 15:53:00.000')
INSERT INTO [dbo].[Control] ([ControlId], [ControlDescription], [ControlName], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (224, '<pl-scan-sheet-printer></pl-scan-sheet-printer>', 'PlScanSheetPrinter', '601680', '2019-12-04 15:53:00.000', '601680', '2019-12-04 15:53:00.000')
INSERT INTO [dbo].[Control] ([ControlId], [ControlDescription], [ControlName], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (225, '<pl-scan-sheet-year-dropdown></pl-scan-sheet-year-dropdown>', 'PlScanSheetYearDropdown', '601680', '2019-12-04 15:58:00.000', '601680', '2019-12-04 15:58:00.000')
SET IDENTITY_INSERT [dbo].[Control] OFF
PRINT(N'Operation applied to 4 rows out of 4')

PRINT(N'Add rows to [dbo].[DocumentControl]')
SET IDENTITY_INSERT [dbo].[DocumentControl] ON
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (8827, 1042, 224, 1, '601680', '2019-12-04 16:00:00.000', '601680', '2019-12-04 16:00:00.000')
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (8828, 1042, 225, 2, '601680', '2019-12-04 16:00:00.000', '601680', '2019-12-04 16:00:00.000')
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (8829, 1043, 225, 2, '601680', '2019-12-04 16:03:00.000', '601680', '2019-12-04 16:03:00.000')
SET IDENTITY_INSERT [dbo].[DocumentControl] OFF
PRINT(N'Operation applied to 117 rows out of 117')

PRINT(N'Add constraints to [dbo].[DocumentControl]')
COMMIT TRANSACTION
GO
