/*
Run this script on:

SQLU14WT1\SQL16UAT2.ICE    -  This database will be modified

to synchronize it with:

SQLQ14WT1\SQL16QA2.ICE

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 12.3.3.4490 from Red Gate Software Ltd at 12/4/2019 9:20:43 AM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[DocumentControl]')
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Controls]
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Document]

PRINT(N'Drop constraints from [dbo].[LookupItem]')
ALTER TABLE [dbo].[LookupItem] NOCHECK CONSTRAINT [FK_T_LookupItem_T_LookupType]

PRINT(N'Drop constraints from [dbo].[Document]')
ALTER TABLE [dbo].[Document] NOCHECK CONSTRAINT [FK_Document_Category]

PRINT(N'Drop constraints from [dbo].[Category]')
ALTER TABLE [dbo].[Category] NOCHECK CONSTRAINT [FK_Category_LOB]

PRINT(N'Delete rows from [dbo].[DocumentControl]')
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 222
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1469
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1470
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 1475
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6076
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6078
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6079
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6081
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6084
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6146
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6325
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8445
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8584
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8586
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8590
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8592
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8705
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8707
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8713
PRINT(N'Operation applied to 19 rows out of 19')

PRINT(N'Update rows in [dbo].[Document]')
UPDATE [dbo].[Document] SET [DocumentName]='Additional Info-Policy Audit-UMB', [UpdatedBy]='601498', [UpdatedDateTime]='2019-11-21 14:55:00.000' WHERE [DocumentId] = 233
UPDATE [dbo].[Document] SET [JldFilePath]='companyRoot:S:Production://Templates/WorkersCompClaims/HIPAA Signed Rxst Records.jld' WHERE [DocumentId] = 1030
UPDATE [dbo].[Document] SET [JldFilePath]='companyRoot:S:Production://Templates/WorkersCompClaims/Blank Letter Template - Group.jld' WHERE [DocumentId] = 1031
UPDATE [dbo].[Document] SET [JldFilePath]='companyRoot:S:Production://Templates/WorkersCompClaims/Blank Letter Template - Specific.jld' WHERE [DocumentId] = 1033
PRINT(N'Operation applied to 4 rows out of 4')

PRINT(N'Update row in [dbo].[Control]')
UPDATE [dbo].[Control] SET [ControlDescription]='<pcpa-veh-info-checkboxw-checkboxlst></pcpa-veh-info-checkboxw-checkboxlst>', [ControlName]='PcpaVehInfoCheckboxwCheckboxlst', [CreatedDateTime]='2019-11-20 14:09:00.000', [UpdatedDateTime]='2019-11-20 14:09:00.000' WHERE [ControlId] = 218

PRINT(N'Update rows in [dbo].[Category]')
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_CSR,Inspire_PL_HD_SS,Inspire_CNSLT_PL_HUD_Admin,Inspire_PL_MailerSheet,Inspire_PL_HD_SUP_UW_RCT,Inspire_PL_HD_Audit' WHERE [CategoryId] = 19
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_CSR,Inspire_PL_HD_SS,Inspire_CNSLT_PL_HUD_Admin,Inspire_PL_MailerSheet,Inspire_PL_HD_SUP_UW_RCT,Inspire_PL_HD_Audit' WHERE [CategoryId] = 21
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_CSR,Inspire_PL_HD_SS,Inspire_CNSLT_PL_HUD_Admin,Inspire_PL_MailerSheet,Inspire_PL_HD_SUP_UW_RCT,Inspire_PL_HD_Audit' WHERE [CategoryId] = 22
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_CSR,Inspire_PL_HD_SS,Inspire_CNSLT_PL_HUD_Admin,Inspire_PL_MailerSheet,Inspire_PL_HD_SUP_UW_RCT,Inspire_PL_HD_Audit' WHERE [CategoryId] = 23
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_CSR,Inspire_PL_HD_SS,Inspire_CNSLT_PL_HUD_Admin,Inspire_PL_MailerSheet,Inspire_PL_HD_SUP_UW_RCT,Inspire_PL_HD_Audit' WHERE [CategoryId] = 24
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_CSR,Inspire_PL_HD_SS,Inspire_CNSLT_PL_HUD_Admin,Inspire_PL_MailerSheet,Inspire_PL_HD_SUP_UW_RCT,Inspire_PL_HD_Audit' WHERE [CategoryId] = 25
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_CSR,Inspire_PL_HD_SS,Inspire_CNSLT_PL_HUD_Admin,Inspire_PL_MailerSheet,Inspire_PL_HD_SUP_UW_RCT,Inspire_PL_HD_Audit' WHERE [CategoryId] = 26
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_CSR,Inspire_PL_HD_SS,Inspire_CNSLT_PL_HUD_Admin,Inspire_PL_MailerSheet,Inspire_PL_HD_SUP_UW_RCT,Inspire_PL_HD_Audit' WHERE [CategoryId] = 27
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_CSR,Inspire_PL_HD_SS,Inspire_CNSLT_PL_HUD_Admin,Inspire_PL_MailerSheet,Inspire_PL_HD_SUP_UW_RCT,Inspire_PL_HD_Audit' WHERE [CategoryId] = 28
UPDATE [dbo].[Category] SET [CategoryGroups]='Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_CSR,Inspire_PL_HD_SS,Inspire_CNSLT_PL_HUD_Admin,Inspire_PL_MailerSheet,Inspire_PL_HD_SUP_UW_RCT,Inspire_PL_HD_Audit' WHERE [CategoryId] = 29
PRINT(N'Operation applied to 10 rows out of 10')

PRINT(N'Add rows to [dbo].[Category]')
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (68, 'PL_SCANSHEET_AUTO', 'zScansheet Personal Lines Auto', 1, 5, '601680', '2019-11-26 14:54:00.000', '601680', '2019-12-03 12:30:00.000', 'Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_SS,Inspire_PL_MailerSheet')
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (69, 'PL_SCANSHEET_HO', 'zScansheet Personal Lines HO', 1, 6, '601680', '2019-11-26 15:11:00.000', '601680', '2019-12-03 12:22:00.000', 'Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_SS,Inspire_PL_MailerSheet')
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (70, 'PL_SCANSHEET_DW', 'zScansheet Personal Lines DW', 1, 7, '601680', '2019-11-26 15:11:00.000', '601680', '2019-12-03 12:22:00.000', 'Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_SS,Inspire_PL_MailerSheet')
SET IDENTITY_INSERT [dbo].[Category] OFF
PRINT(N'Operation applied to 4 rows out of 4')

PRINT(N'Add row to [dbo].[LookupType]')
SET IDENTITY_INSERT [dbo].[LookupType] ON
INSERT INTO [dbo].[LookupType] ([LookupTypeID], [LookupTypeValue]) VALUES (17, 'InsCompany')
SET IDENTITY_INSERT [dbo].[LookupType] OFF

PRINT(N'Add rows to [dbo].[Document]')
SET IDENTITY_INSERT [dbo].[Document] ON
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (1039, 69, 'PL_HO Scan Sheet', 'POLDOC  Application', 1, NULL, 'companyRoot:S:Production://Templates/PolicyCenterHomeowners/PL_HO Scan Sheet.jld', 'POLDOC  Application', '601680', '2019-11-27 09:12:00.000', '601680', '2019-11-27 09:12:00.000')
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (1040, 68, 'PL_AUTO Scan Sheet', 'POLDOC  Application', 1, NULL, 'companyRoot:S:Production://Templates/PolicyCenterAuto/PL_AUTO Scan Sheet.jld', 'POLDOC  Application', '601680', '2019-11-27 09:13:00.000', '601680', '2019-11-27 09:13:00.000')
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (1041, 71, 'PL_UMB Scan Sheet', 'POLDOC  Application', 1, NULL, 'companyRoot:S:Production://Templates/PolicyCenterUmbrella/PL_UMB Scan Sheet.jld', 'POLDOC  Application', '601680', '2019-11-27 09:15:00.000', '601680', '2019-11-27 09:15:00.000')
SET IDENTITY_INSERT [dbo].[Document] OFF
PRINT(N'Operation applied to 40 rows out of 40')

PRINT(N'Add rows to [dbo].[LookupItem]')
SET IDENTITY_INSERT [dbo].[LookupItem] ON
INSERT INTO [dbo].[LookupItem] ([LookupItemID], [LookupItemCode], [LookupItemValue], [LookupTypeID], [LookupItemOrder]) VALUES (157, 'NJM Insurance Company', 'NJM', 17, 1)
INSERT INTO [dbo].[LookupItem] ([LookupItemID], [LookupItemCode], [LookupItemValue], [LookupTypeID], [LookupItemOrder]) VALUES (158, 'NJM Re-Insurance Company', 'NJRe', 17, 2)
INSERT INTO [dbo].[LookupItem] ([LookupItemID], [LookupItemCode], [LookupItemValue], [LookupTypeID], [LookupItemOrder]) VALUES (159, 'NJM Indemnity Insurance Company', 'NJ Indemnity', 17, 3)
SET IDENTITY_INSERT [dbo].[LookupItem] OFF
PRINT(N'Operation applied to 13 rows out of 13')

PRINT(N'Add rows to [dbo].[DocumentControl]')
SET IDENTITY_INSERT [dbo].[DocumentControl] ON
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (8714, 1024, 218, 7, '601680', '2019-11-20 14:08:00.000', '601680', '2019-11-20 14:08:00.000')
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (8718, 1022, 39, 3, '601680', '2019-11-20 16:25:00.000', '601680', '2019-11-20 16:25:00.000')
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (8719, 1022, 26, 4, '601680', '2019-11-20 16:25:00.000', '601680', '2019-11-20 16:25:00.000')
SET IDENTITY_INSERT [dbo].[DocumentControl] OFF
PRINT(N'Operation applied to 107 rows out of 107')

PRINT(N'Add constraints to [dbo].[DocumentControl]')

PRINT(N'Add constraints to [dbo].[LookupItem]')
ALTER TABLE [dbo].[LookupItem] WITH CHECK CHECK CONSTRAINT [FK_T_LookupItem_T_LookupType]

PRINT(N'Add constraints to [dbo].[Document]')
ALTER TABLE [dbo].[Document] WITH CHECK CHECK CONSTRAINT [FK_Document_Category]

PRINT(N'Add constraints to [dbo].[Category]')
ALTER TABLE [dbo].[Category] WITH CHECK CHECK CONSTRAINT [FK_Category_LOB]
COMMIT TRANSACTION
GO
