/*
Run this script on:

SQLQ14WT1\SQL16QA2.ICE    -  This database will be modified

to synchronize it with:

SQLD14WT1\SQL16DEV2.ICE

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 12.3.3.4490 from Red Gate Software Ltd at 12/4/2019 9:15:44 AM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[DocumentControl]')
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Controls]
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Document]

PRINT(N'Drop constraints from [dbo].[LookupItem]')
ALTER TABLE [dbo].[LookupItem] NOCHECK CONSTRAINT [FK_T_LookupItem_T_LookupType]

PRINT(N'Drop constraints from [dbo].[Document]')
ALTER TABLE [dbo].[Document] NOCHECK CONSTRAINT [FK_Document_Category]

PRINT(N'Drop constraints from [dbo].[Category]')
ALTER TABLE [dbo].[Category] NOCHECK CONSTRAINT [FK_Category_LOB]

PRINT(N'Delete rows from [dbo].[DocumentControl]')
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6076
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6078
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6079
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6081
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6084
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6146
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6325
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8722
PRINT(N'Operation applied to 8 rows out of 8')

PRINT(N'Add rows to [dbo].[Category]')
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (68, 'PL_SCANSHEET_AUTO', 'zScansheet Personal Lines Auto', 1, 5, '601680', '2019-11-26 14:54:00.000', '601680', '2019-12-03 12:30:00.000', 'Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_SS,Inspire_PL_MailerSheet')
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (69, 'PL_SCANSHEET_HO', 'zScansheet Personal Lines HO', 1, 6, '601680', '2019-11-26 15:11:00.000', '601680', '2019-12-03 12:22:00.000', 'Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_SS,Inspire_PL_MailerSheet')
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (70, 'PL_SCANSHEET_DW', 'zScansheet Personal Lines DW', 1, 7, '601680', '2019-11-26 15:11:00.000', '601680', '2019-12-03 12:22:00.000', 'Inspire_Dev_Users,Inspire_Developers,Inspire_CNSLT_PersLines,Inspire_Personal_Lines,Inspire_PL_HD_SS,Inspire_PL_MailerSheet')
SET IDENTITY_INSERT [dbo].[Category] OFF
PRINT(N'Operation applied to 4 rows out of 4')

PRINT(N'Add row to [dbo].[LookupType]')
SET IDENTITY_INSERT [dbo].[LookupType] ON
INSERT INTO [dbo].[LookupType] ([LookupTypeID], [LookupTypeValue]) VALUES (17, 'InsCompany')
SET IDENTITY_INSERT [dbo].[LookupType] OFF

PRINT(N'Add rows to [dbo].[Document]')
SET IDENTITY_INSERT [dbo].[Document] ON
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (1039, 69, 'PL_HO Scan Sheet', 'POLDOC  Application', 1, NULL, 'companyRoot:S:Production://Templates/PolicyCenterHomeowners/PL_HO Scan Sheet.jld', 'POLDOC  Application', '601680', '2019-11-27 09:12:00.000', '601680', '2019-11-27 09:12:00.000')
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (1040, 68, 'PL_AUTO Scan Sheet', 'POLDOC  Application', 1, NULL, 'companyRoot:S:Production://Templates/PolicyCenterAuto/PL_AUTO Scan Sheet.jld', 'POLDOC  Application', '601680', '2019-11-27 09:13:00.000', '601680', '2019-11-27 09:13:00.000')
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (1041, 71, 'PL_UMB Scan Sheet', 'POLDOC  Application', 1, NULL, 'companyRoot:S:Production://Templates/PolicyCenterUmbrella/PL_UMB Scan Sheet.jld', 'POLDOC  Application', '601680', '2019-11-27 09:15:00.000', '601680', '2019-11-27 09:15:00.000')
SET IDENTITY_INSERT [dbo].[Document] OFF
PRINT(N'Operation applied to 40 rows out of 40')

PRINT(N'Add rows to [dbo].[LookupItem]')
SET IDENTITY_INSERT [dbo].[LookupItem] ON
INSERT INTO [dbo].[LookupItem] ([LookupItemID], [LookupItemCode], [LookupItemValue], [LookupTypeID], [LookupItemOrder]) VALUES (157, 'NJM Insurance Company', 'NJM', 17, 1)
INSERT INTO [dbo].[LookupItem] ([LookupItemID], [LookupItemCode], [LookupItemValue], [LookupTypeID], [LookupItemOrder]) VALUES (158, 'NJM Re-Insurance Company', 'NJRe', 17, 2)
INSERT INTO [dbo].[LookupItem] ([LookupItemID], [LookupItemCode], [LookupItemValue], [LookupTypeID], [LookupItemOrder]) VALUES (159, 'NJM Indemnity Insurance Company', 'NJ Indemnity', 17, 3)
SET IDENTITY_INSERT [dbo].[LookupItem] OFF
PRINT(N'Operation applied to 13 rows out of 13')

PRINT(N'Add rows to [dbo].[DocumentControl]')
SET IDENTITY_INSERT [dbo].[DocumentControl] ON
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (8727, 1023, 39, 3, '601680', '2019-11-26 13:07:00.000', '601680', '2019-11-26 13:07:00.000')
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (8728, 1023, 26, 4, '601680', '2019-11-26 13:07:00.000', '601680', '2019-11-26 13:07:00.000')
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (8730, 791, 159, 2, '602614', '2019-11-27 10:15:00.000', '602614', '2019-11-27 10:15:00.000')
SET IDENTITY_INSERT [dbo].[DocumentControl] OFF
PRINT(N'Operation applied to 98 rows out of 98')

PRINT(N'Add constraints to [dbo].[DocumentControl]')

PRINT(N'Add constraints to [dbo].[LookupItem]')
ALTER TABLE [dbo].[LookupItem] WITH CHECK CHECK CONSTRAINT [FK_T_LookupItem_T_LookupType]

PRINT(N'Add constraints to [dbo].[Document]')
ALTER TABLE [dbo].[Document] WITH CHECK CHECK CONSTRAINT [FK_Document_Category]

PRINT(N'Add constraints to [dbo].[Category]')
ALTER TABLE [dbo].[Category] WITH CHECK CHECK CONSTRAINT [FK_Category_LOB]
COMMIT TRANSACTION
GO
