<div class="panel panel-primary" ng-controller="PchoAddtlPolNumCheckboxwCheckboxController">
    <div class="panel-heading">Additional Policy Number(s)</div>
    <div class="panel-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <input ng-click="clearAllSelectedData()" ng-model="isPolicySelected" type="checkbox" name="PolicyCheckbox" value="" id="PolicyCheckboxID" />
                    <label>Include Policy Number(s)</label>
                </div>
                <div class="col-md-8 row">
                    <!--Additional policy number checkbox list-->
                    <div ng-repeat="item in Policy" class="col-md-12">
                        <input ng-model="item.checked" ng-click="selectPolicy(item)" type="checkbox" ng-disabled="!isPolicySelected" name="PolicyCheckboxLst" id="PolicyLstId{{item._id}}" value="" />
                        <span ng-bind="item.Policy.PolicyNumber" ng-class="(isPolicySelected)?'':'disabled-class'"></span>
                    </div>
                    <span class="alert-danger" ng-if="Policy.length === 0">Information not provided by source</span>
                </div>
            </div>
        </div>
    </div>
</div> 