<div class="panel panel-primary" ng-controller="GcScanSheetCheckboxController">
    <div class="panel-body">
        <div class="form-group">

            <div class="row" ng-hide="!LabelName1">
                <div class="col-md-6">
                    <input type="checkbox"
                           name="GcCheckBox1"
                           ng-true-value="true"
                           ng-false-value="false"
                           ng-model="GcCheckBoxValue1"
                           id="GcCheckBoxID1" />
                    <label>
                        {{LabelName1}}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <input type="checkbox" 
                           name="GcSuppressNoteCheckBox"
                           ng-true-value="true" 
                           ng-false-value="false" 
                           ng-model="GcCheckBoxValue" 
                           id="GcCheckBoxId" />
                    <label>
                        Suppress Notification?
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>