/*
Run this script on:

SQLP20AGBUS7,57363.ICE    -  This database will be modified

to synchronize it with:

SQLU14WT1\SQL16UAT2.ICE

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 12.3.3.4490 from Red Gate Software Ltd at 2/7/2020 3:37:40 PM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[DocumentControl]')
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Controls]
ALTER TABLE [dbo].[DocumentControl] NOCHECK CONSTRAINT [FK_DocumentControl_Document]

PRINT(N'Drop constraints from [dbo].[Document]')
ALTER TABLE [dbo].[Document] NOCHECK CONSTRAINT [FK_Document_Category]

PRINT(N'Drop constraints from [dbo].[Category]')
ALTER TABLE [dbo].[Category] NOCHECK CONSTRAINT [FK_Category_LOB]

PRINT(N'Drop constraints from [dbo].[LOB]')
ALTER TABLE [dbo].[LOB] NOCHECK CONSTRAINT [FK_LOB_LOB]

PRINT(N'Delete rows from [dbo].[DocumentControl]')
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 2493
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 3830
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 4277
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 4603
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 4732
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 4756
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 4844
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 5151
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6621
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6622
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6625
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6626
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6630
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6987
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 6993
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 7011
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 7600
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8273
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8279
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8289
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 8957
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 9296
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 9303
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 9306
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 9312
DELETE FROM [dbo].[DocumentControl] WHERE [DocumentControlId] = 9316
PRINT(N'Operation applied to 26 rows out of 26')

PRINT(N'Update row in [dbo].[DocumentControl]')
UPDATE [dbo].[DocumentControl] SET [ControlOrder]=2 WHERE [DocumentControlId] = 1295

PRINT(N'Update rows in [dbo].[Document]')
UPDATE [dbo].[Document] SET [DocumentActive]=0, [UpdatedDateTime]='2020-01-24 11:03:00.000' WHERE [DocumentId] = 351
UPDATE [dbo].[Document] SET [DocumentName]='Attending Physicians Report', [DocumentFriendlyName]='Attending Physicians Report', [JldFilePath]='companyRoot:S:Production://Templates/WorkersCompClaims/Attending Physicians Report.jld' WHERE [DocumentId] = 838
UPDATE [dbo].[Document] SET [DocumentActive]=0, [UpdatedBy]='601498', [UpdatedDateTime]='2020-01-06 16:13:00.000' WHERE [DocumentId] = 843
UPDATE [dbo].[Document] SET [JldFilePath]='companyRoot:S:Production://Templates/WorkersCompClaims/DE Compensability Determination.jld', [UpdatedDateTime]='2020-01-22 09:43:00.000' WHERE [DocumentId] = 911
UPDATE [dbo].[Document] SET [JldFilePath]='companyRoot:S:Production://Templates/WorkersCompClaims/Widow Deceased.jld', [UpdatedBy]='601680', [UpdatedDateTime]='2020-01-22 11:38:00.000' WHERE [DocumentId] = 933
PRINT(N'Operation applied to 5 rows out of 5')

PRINT(N'Add rows to [dbo].[Control]')
SET IDENTITY_INSERT [dbo].[Control] ON
INSERT INTO [dbo].[Control] ([ControlId], [ControlDescription], [ControlName], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (234, '<wcu-addr-nm-company-address></wcu-addr-nm-company-address>', 'WcuAddrNmCompanyAddress', '601680', '2020-01-23 13:06:00.000', '601680', '2020-01-23 13:06:00.000')
INSERT INTO [dbo].[Control] ([ControlId], [ControlDescription], [ControlName], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (235, '<wcu-cc-section-repeater></wcu-cc-section-repeater>', 'WcuCCSectionRepeater', '601680', '2020-01-23 13:11:00.000', '601680', '2020-01-23 13:11:00.000')
INSERT INTO [dbo].[Control] ([ControlId], [ControlDescription], [ControlName], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (236, '<wcu-retro-details-repeater></wcu-retro-details-repeater>', 'WcuRetroDetailsRepeater', '601680', '2020-01-23 13:13:00.000', '601680', '2020-01-23 13:13:00.000')
SET IDENTITY_INSERT [dbo].[Control] OFF
PRINT(N'Operation applied to 9 rows out of 9')

PRINT(N'Add rows to [dbo].[LOB]')
SET IDENTITY_INSERT [dbo].[LOB] ON
INSERT INTO [dbo].[LOB] ([LOBId], [LOBName]) VALUES (11, 'PC-WCU')
INSERT INTO [dbo].[LOB] ([LOBId], [LOBName]) VALUES (12, 'PC-BOP')
INSERT INTO [dbo].[LOB] ([LOBId], [LOBName]) VALUES (13, 'PC-CUMB')
SET IDENTITY_INSERT [dbo].[LOB] OFF
PRINT(N'Operation applied to 3 rows out of 3')

PRINT(N'Add rows to [dbo].[Category]')
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (87, 'PC_BINDER-POSTING_NOTICES_CTGY', 'Binder-Posting Notices', 1, 11, '601680', '2020-01-16 14:45:00.000', '601680', '2020-01-16 14:45:00.000', 'Inspire_Dev_Users,Inspire_Developers')
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (88, 'PC_BLANK_LETTER_TEMPLATE_CTGY', 'Blank Letter Templates', 1, 11, '601680', '2020-01-16 14:45:00.000', '601680', '2020-01-16 14:45:00.000', 'Inspire_Dev_Users,Inspire_Developers')
INSERT INTO [dbo].[Category] ([CategoryId], [CategoryName], [CategoryFriendlyName], [CategoryActive], [LOBId], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime], [CategoryGroups]) VALUES (89, 'PC_BROKER_CTGY', 'Broker', 1, 11, '601680', '2020-01-16 14:50:00.000', '601680', '2020-01-16 14:50:00.000', 'Inspire_Dev_Users,Inspire_Developers')
SET IDENTITY_INSERT [dbo].[Category] OFF
PRINT(N'Operation applied to 17 rows out of 17')

PRINT(N'Add rows to [dbo].[Document]')
SET IDENTITY_INSERT [dbo].[Document] ON
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (1202, 87, 'CT Posting Notice', 'CT Posting Notice', 1, NULL, 'companyRoot:S:Production://Templates/PolicyCenterWCU/CT Posting Notice.jld', 'WCU  Correspondence', '601680', '2020-01-17 13:52:00.000', '601680', '2020-01-17 13:52:00.000')
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (1203, 87, 'CT Spanish Posting Notice', 'CT Spanish Posting Notice', 1, NULL, 'companyRoot:S:Production://Templates/PolicyCenterWCU/CT Spanish Posting Notice.jld', 'WCU  Correspondence', '601680', '2020-01-17 14:52:00.000', '601680', '2020-01-17 14:52:00.000')
INSERT INTO [dbo].[Document] ([DocumentId], [CategoryId], [DocumentName], [DocumentFriendlyName], [DocumentActive], [BaseState], [JldFilePath], [DocType], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (1204, 87, 'DE Posting Notice', 'DE Posting Notice', 1, NULL, 'companyRoot:S:Production://Templates/PolicyCenterWCU/DE Posting Notice.jld', 'WCU  Correspondence', '601680', '2020-01-17 15:00:00.000', '601680', '2020-01-17 15:00:00.000')
SET IDENTITY_INSERT [dbo].[Document] OFF
PRINT(N'Operation applied to 94 rows out of 96')

PRINT(N'Add rows to [dbo].[DocumentControl]')
SET IDENTITY_INSERT [dbo].[DocumentControl] ON
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (9472, 582, 142, 4, '602614', '2020-01-15 09:28:00.000', '602614', '2020-01-15 09:28:00.000')
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (9473, 861, 118, 5, '602614', '2020-01-15 10:51:00.000', '602614', '2020-01-15 10:51:00.000')
INSERT INTO [dbo].[DocumentControl] ([DocumentControlId], [DocumentId], [ControlId], [ControlOrder], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (9475, 579, 145, 5, '601680', '2020-01-17 16:03:00.000', '601680', '2020-01-17 16:03:00.000')
SET IDENTITY_INSERT [dbo].[DocumentControl] OFF
PRINT(N'Operation applied to 290 rows out of 294')

PRINT(N'Add constraints to [dbo].[DocumentControl]')

PRINT(N'Add constraints to [dbo].[Document]')
ALTER TABLE [dbo].[Document] WITH CHECK CHECK CONSTRAINT [FK_Document_Category]

PRINT(N'Add constraints to [dbo].[Category]')
ALTER TABLE [dbo].[Category] WITH CHECK CHECK CONSTRAINT [FK_Category_LOB]

PRINT(N'Add constraints to [dbo].[LOB]')
ALTER TABLE [dbo].[LOB] WITH CHECK CHECK CONSTRAINT [FK_LOB_LOB]
COMMIT TRANSACTION
GO
