<div class="panel panel-primary" ng-controller="WccReasonForDenialCheckboxLstController">
    <div class="panel-heading">Reason(s) for Denial</div>
    <div class="panel-body">
        <div class="form-group">

            <!--Reason for Denial checkbox list-->
            <div class="row">
                <div class="col-md-8">
                    <div ng-repeat="item in DenialData track by $index">
                        <input type="checkbox" 
                               ng-change="selectItem(item)" 
                               name="DenialReason{{$index}}" 
                               id="DenialReason{{$index}}Id" 
                               ng-model="item.checked" value="" />
                        <label ng-bind="item.insert_text"></label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
