<div class="panel panel-primary" ng-controller="GcTreatmentDatesController">
    <div class="panel-heading">Treatment Dates</div>
    <div class="panel-body">
        <div class="form-group">
            <div class="row">
                <!--Treatment Date 1 input-->
                <div class="col-md-4"><label>Treatment Date 1:</label></div>
                <div class="col-md-4">
                    <input datePicker date-format="mm/dd/yy" type="text" class="form-control" ng-model="treatmentDateOne" name="treatmentDate1" id="treatmentDate1Id" />
                </div>
                <div class="col-md-4">
                    <span>(MM/DD/YY)</span>
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <!--Treatment Date 2 input-->
                <div class="col-md-4"><label>Treatment Date 2:</label></div>
                <div class="col-md-4">
                    <input datePicker date-format="mm/dd/yy" type="text" class="form-control" ng-model="treatmentDateTwo" name="treatmentDate2" id="treatmentDate2Id" />
                </div>
                <div class="col-md-4">
                    <span>(MM/DD/YY)</span>
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <!--Treatment Date 3 input-->
                <div class="col-md-4"><label>Treatment Date 3:</label></div>
                <div class="col-md-4">
                    <input datePicker date-format="mm/dd/yy" type="text" class="form-control" ng-model="treatmentDateThree" name="treatmentDate3" id="treatmentDate3Id" />
                </div>
                <div class="col-md-4">
                    <span>(MM/DD/YY)</span>
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <!--Treatment Date 4 input-->
                <div class="col-md-4"><label>Treatment Date 4:</label></div>
                <div class="col-md-4">
                    <input datePicker date-format="mm/dd/yy" type="text" class="form-control" ng-model="treatmentDateFour" name="treatmentDate4" id="treatmentDate4Id" />
                </div>
                <div class="col-md-4">
                    <span>(MM/DD/YY)</span>
                </div>
            </div>
        </div>
    </div>
</div> 