<div class="panel panel-primary" ng-controller="GcIcdCodeFiveTextboxesController">
    <div class="panel-heading">ICD9 Codes</div>
    <div class="panel-body">
        <div class="form-group">

            <!--ICD9Code1 input-->
            <div class="row">
                <div class="col-md-4"><label>ICD9 Code 1:</label></div>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="ICD9Code1" id="ICD9Code1Id" ng-model="ICD9Code1" />
                </div>
            </div>

            <!--ICD9Code2 input-->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-4"><label>ICD9 Code 2:</label></div>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="ICD9Code2" id="ICD9Code2Id" ng-model="ICD9Code2" />
                </div>
            </div>

            <!--ICD9Code3 input-->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-4"><label>ICD9 Code 3:</label></div>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="ICD9Code3" id="ICD9Code3Id" ng-model="ICD9Code3" />
                </div>
            </div>

            <!--ICD9Code4 input-->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-4"><label>ICD9 Code 4:</label></div>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="ICD9Code4" id="ICD9Code4Id" ng-model="ICD9Code4" />
                </div>
            </div>

            <!--ICD9Code5 input-->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-4"><label>ICD9 Code 5:</label></div>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="ICD9Code5" id="ICD9Code5Id" ng-model="ICD9Code5" />
                </div>
            </div>
        </div>
    </div>
</div> 