<div class="panel panel-primary" ng-controller="BcwcuAddresseewAttentionNmProducerController">
    <div class="panel-heading">
        Addressee Information
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>
                        Attention Name
                    </label>
                    <!--<select ng-disabled="Addressee.length == 0" name="AddresseeName" ng-model="SelectedAddressee" ng-change="updateAddreesseeAddress(SelectedAddressee)" ng-options="AddresseeInfo.DisplayName + AddresseeInfo.Contact.entityPerson.Prefix.DisplayName+' '+ AddresseeInfo.Contact.entityPerson.FirstName +' '+ AddresseeInfo.Contact.entityPerson.MiddleName+' '+ AddresseeInfo.Contact.entityPerson.LastName  for AddresseeInfo in Addressee track by AddresseeInfo._id" class="form-control"  id="AddresseeNameID" ng-required="true">-->
                    <select ng-disabled="Addressee.length == 0" name="AttentionNm" ng-model="SelectedAttentionNm" ng-options="AttentionNmInfo.Producer.Name for AttentionNmInfo in AttentionNm track by AttentionNmInfo._id" class="form-control" id="AttentionNmID">
                        <option value="">--Select--</option>
                    </select>
                    <span class="alert-danger" ng-show="Addressee.length == 0">Information not provided by source</span>
                </div>
                <div class="col-md-4">
                    <label>
                        * Addressee Name 1
                    </label>
                    <!--<select ng-disabled="Addressee.length == 0" name="AddresseeName" ng-model="SelectedAddressee" ng-change="updateAddreesseeAddress(SelectedAddressee)" ng-options="AddresseeInfo.DisplayName + AddresseeInfo.Contact.entityPerson.Prefix.DisplayName+' '+ AddresseeInfo.Contact.entityPerson.FirstName +' '+ AddresseeInfo.Contact.entityPerson.MiddleName+' '+ AddresseeInfo.Contact.entityPerson.LastName  for AddresseeInfo in Addressee track by AddresseeInfo._id" class="form-control"  id="AddresseeNameID" ng-required="true">-->
                    <select ng-disabled="Addressee.length == 0" name="AddresseeName" ng-model="SelectedAddressee" ng-change="updateAddreesseeAddress(SelectedAddressee)" ng-options="AddresseeInfo.Producer.Name for AddresseeInfo in Addressee track by AddresseeInfo._id" class="form-control" id="AddresseeNameID" ng-required="true">
                        <option value="">--Select--</option>
                    </select>
                    <span class="alert-danger" ng-show="Addressee.length == 0">Information not provided by source</span>
                </div>
                <div class="col-md-4">
                    <label>
                        * Addressee Address
                    </label>
                    <select ng-disabled="AddresseeAddress.length == 0" name="AddresseeAddress" ng-options="Address.AddressLine1+ ' '+Address.AddressLine2+' '+Address.AddressLine3+', '+ Address.City+ ' '+ Address.State.Code+ ' '+ Address.PostalCode for Address in AddresseeAddress" id="AddresseeAddressID" xml="Addressee_Address"
                            ng-model="SelectedAddress" class="form-control" ng-required="true">
                        <option value="">-- Select --</option>
                    </select>
                    <span class="alert-danger" ng-show="AddresseeAddress.length == 0">Information not provided by source</span>
                </div>
            </div>
        </div>
        <div></div>
        <div class="form-group">

        </div>
    </div>
</div>